
body
{
	/*scrollbar-face-color: #dddddd;
	scrollbar-highlight-color: #ffffff;
	scrollbar-shadow-color: #cccccc;
	scrollbar-3dlight-color: #eeeeee;*/
	line-height: 135%;
	/*scrollbar-arrow-color: #bbbbbb;
	scrollbar-track-color: #eeeeee;*/
	font-family: "宋体" , "verdana" , "arial" , "helvetica" , "sans-serif";
	/*scrollbar-darkshadow-color: #cccccc;*/
	background-image: url(../img/gback.jpg);
	
	
}
h2 {text-align:center}
.tdcss
{
	font-family: "宋体";
	font-size: 14px;
	font-style: normal;
}
.tdcs
{
	font-family: "宋体";
	font-size: 12;
	font-style: normal;
}
a:active
{
	color: #ff0000;
	text-decoration: none;
	font-size: 14px;
	text-decoration: underline;
}
a:hover
{
	color: #ff0000;
	font-size: 14px;
	text-decoration: underline;
}
a:link
{
	font-size: 14px;
	line-height: normal;
	text-decoration: underline;
	color: #000080;
}
a:visited
{
	font-size: 14px;
	line-height: normal;
	text-decoration: underline;
	color: #000080;
}
textarea
{
  border:solid 1 groove;
}

table td{white-space:nowrap;height: 28px;}
.Lefttd{text-align:left;position:relative;left:5%;color:Red;}
.button
{
	background-color: #9bbcff;
	border-bottom-color: #005bb7;
	border-bottom-style: double;
	border-left-color: #adceef;
	border-left-style: double;
	border-right-color: #005bb7;
	border-right-style: double;
	border-top-color: #c6ddf4;
	border-top-style: double;
	color: #000000;
	font-family: "宋体";
	font-size: 10pt;
	height: 22px;
	width: 50px;
}
.longbutton
{
	background-color: #9bbcff;
	border-bottom-color: #005bb7;
	border-bottom-style: double;
	border-left-color: #adceef;
	border-left-style: double;
	border-right-color: #005bb7;
	border-right-style: double;
	border-top-color: #c6ddf4;
	border-top-style: double;
	color: #000000;
	font-family: "宋体";
	font-size: 10pt;
	height: 22px;
	width: 80px;
}
.input
{
	background-color: #fefefe;
	border-bottom-style: groove;
	border-left-style: groove;
	border-right-style: groove;
	border-top-style: groove;
	font-family: "宋体";
	font-size: 10pt;
	height: 20px;
	width: 100px;
}
.priceinput
{
	background-color: #fefefe;
	border-bottom-style: groove;
	border-left-style: groove;
	border-right-style: groove;
	border-top-style: groove;
	font-family: "宋体";
	font-size: 10pt;
	height: 20px;
	width: 65px;
}
.scoreinput
{
	background-color: #fefefe;
	border-bottom-style: groove;
	border-left-style: groove;
	border-right-style: groove;
	border-top-style: groove;
	font-family: "宋体";
	font-size: 10pt;
	height: 20px;
	width: 30px;
}
.shortinput
{
	background-color: #fefefe;
	border-bottom-style: groove;
	border-left-style: groove;
	border-right-style: groove;
	border-top-style: groove;
	font-family: "宋体";
	font-size: 10pt;
	height: 20px;
	width: 80px;
}
.numinput
{
	background-color: #fefefe;
	border-bottom-style: groove;
	border-left-style: groove;
	border-right-style: groove;
	border-top-style: groove;
	font-family: "宋体";
	font-size: 10pt;
	height: 20px;
	width: 50px;
}
.longinput
{
	background-color: #fefefe;
	border-bottom-style: groove;
	border-left-style: groove;
	border-right-style: groove;
	border-top-style: groove;
	font-family: "宋体";
	font-size: 10pt;
	height: 20px;
	width: 300px;
}
.emsinput
{
	background-color: #fefefe;
	border-bottom-style: groove;
	border-left-style: groove;
	border-right-style: groove;
	border-top-style: groove;
	font-family: "宋体";
	font-size: 9pt;
	height: 18px;
	width: 50px;
}
.midinput
{
	background-color: #fefefe;
	border-bottom-style: groove;
	border-left-style: groove;
	border-right-style: groove;
	border-top-style: groove;
	font-family: "宋体";
	font-size: 10pt;
	height: 20px;
	width: 135px;
}
.mutiinput
{
	background-color: #fefefe;
	border-bottom-style: groove;
	border-left-style: groove;
	border-right-style: groove;
	border-top-style: groove;
	font-family: "宋体";
	font-size: 10pt;
	height: 120px;
	width: 378px;
}
.midtextarea
{
	background-color: #fefefe;
	border-bottom-style:solid;
	border-left-style: solid;
	border-right-style: solid;
	border-top-style: solid;
	font-family: "宋体";
	font-size: 10pt;
	height: 60px;
	width: 130px;
}
.longmutiinput
{
	background-color: #fefefe;
	border-bottom-style: groove;
	border-left-style: groove;
	border-right-style: groove;
	border-top-style: groove;
	font-family: "宋体";
	font-size: 10pt;
	height: 100px;
	width: 760px;
}
.select
{
	background-color: #fefefe;
	border-bottom-style: groove;
	border-left-style: groove;
	border-right-style: groove;
	border-top-style: groove;
	font-family: "宋体";
	font-size: 10pt;
	width: 183px;
}

.btn
{
	height: 22px;
	width: 22px;
}
.btnmoverup
{
	height: 22px;
	width: 20px;
	border-bottom: buttonshadow 1px solid;
	border-left: buttonhighlight 1px solid;
	border-right: buttonshadow 1px solid;
	border-top: buttonhighlight 1px solid;
}
.btnmoverdown
{
	height: 22px;
	width: 20px;
	border-bottom: buttonhighlight 1px solid;
	border-left: buttonshadow 1px solid;
	border-right: buttonhighlight 1px solid;
	border-top: buttonshadow 1px solid;
}
.ico
{
	height: 18px;
	width: 18px;
	position: relative;
	left: 2px;
	top: 0px;
}
.icoup
{
	height: 18px;
	width: 18px;
	position: relative;
	left: 1px;
	top: 0px;
}
.icodown
{
	height: 18px;
	width: 18px;
	position: relative;
	left: 2px;
	top: 1px;
}
.tbsep
{
	height: 20px;
	width: 2px;
	border-left: buttonshadow 1px solid;
	border-right: buttonhighlight 1px solid;
	font-size: 0px;
}

body.pagebody
{
	background-image: url(../img/gback.jpg);
	
}
table.pagetable
{
	border-collapse: collapse;
	font-size: 14px;
	width: 100%;
}
table.listtable
{
	background-color: white;
	border-bottom: gray 1px solid;
	border-collapse: collapse;
	border-left: gray 1px solid;
	border-right: gray 1px solid;
	border-top: gray 1px solid;
	font-size: 14px;
	text-align: center;
	width: 100%;
}
tr.listheader
{
	background-color: #e0e0e0;
	height: 30px;
	text-align: center;
}
.thead
{
	background-color: #dddddd;	
	text-align: center;
	height:27px;
	white-space:nowrap;
}
tr.listitem
{
	height: 20px;
	text-align: left;
}
table.edittable
{
	background-color: whitesmoke;
	border-bottom: whitesmoke 10px solid;
	border-collapse: collapse;
	border-left: whitesmoke 10px solid;
	border-right: whitesmoke 10px solid;
	border-top: whitesmoke 10px solid;
	font-size: 14px;
}
table.table
{
	border-bottom: gray 1px solid;
	border-collapse: collapse;
	border-left: gray 1px solid;
	border-right: gray 1px solid;
	border-top: gray 1px solid;
	font-size: 14px;
}
/* 内贸新增样式 */
.pagetitle
{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}
table
{
	font-size: 10pt;
}
td.header
{
	height: 28px;
	background-color: #dddddd;
	text-align: center;
}
/* 结束 */

.toptd
{
	border-bottom: 1px solid black;
	border-top: 1px none black;
	border-left: 1px solid black;
	border-right: 1px none black;
	height: 25pt;
}
.ltoptd
{
	border-bottom: 1px solid black;
	border-top: 1px none black;
	border-left: 1px none black;
	border-right: 1px none black;
	height: 25pt;
}
.rtoptd
{
	border-bottom: 1px solid black;
	border-top: 1px none black;
	border-left: 1px none black;
	border-right: 1px none black;
	height: 25pt;
}
/*显示层信息样式*/
.layerinfo{
position:absolute;
width:300px;
display:none;
z-index:2;
border-style:solid;
border-width:1px;
border-color:#990000;
background-color:#FFCC99;
padding:2px;}
